/* Adds Tailwind to CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Variables*/
	@layer base {
		/* Theme 1 */
		:root {
			/* Backgrounds */
			--very-dark-desaturated-blue: hsl(222, 26%, 31%);
			--dark-desaturated-blue-toggle-bg: rgb(30, 41, 56); /* hsl(223, 31%, 20%) */
			--dark-desaturated-blue-screen-bg: rgb(23, 32, 47); /* hsl(224, 36%, 15%) */

			/* Keys */
			--desaturated-dark-blue-key-bg: rgb(58, 85, 122); /* hsl(225, 21%, 49%) */
			--desaturated-dark-blue-key-shadow: rgb(47, 67, 94); /* hsl(224, 28%, 35%) */
			--red-key-toggle-bg: rgb(242, 62, 52); /* hsl(6, 63%, 50%) */
			--dark-red-key-shadow: rgb(168, 34, 24); /* hsl(6, 70%, 34%) */
			--light-grayish-orange-key-bg: rgb(227, 219, 200); /* hsl(30, 25%, 89%) */
			--grayish-orange-key-shadow: rgb(162, 147, 126); /* hsl(28, 16%, 65%) */

			/* Text */
			--very-dark-grayish-blue-text: rgb(49, 56, 69); /* hsl(221, 14%, 31%) */
			--white-text: rgb(255, 255, 255); /* hsl(0, 0%, 100%) */
		}

		/* Theme 2 */
		:root {
			/* Backgrounds */
			--light-gray-main-bg: rgb(229, 229, 229); /* hsl(0, 0%, 90%) */
			--grayish-red-toggle-keypad-bg: rgb(207, 201, 201); /* hsl(0, 5%, 81%) */
			--very-light-gray-screen-bg: rgb(237, 237, 237); /* hsl(0, 0%, 93%) */

			/* Keys */
			--dark-moderate-cyan-key-bg: rgb(37, 96, 105); /* hsl(185, 42%, 37%) */
			--very-dark-cyan-key-shadow: rgb(23, 55, 61); /* hsl(185, 58%, 25%) */
			--orange-key-toggle-bg: rgb(255, 159, 10); /* hsl(25, 98%, 40%) */
			--dark-orange-key-shadow: rgb(166, 82, 7); /* hsl(25, 99%, 27%) */
			--light-grayish-yellow-key-bg: rgb(226, 222, 199); /* hsl(45, 7%, 89%) */
			--dark-grayish-orange-key-shadow: rgb(152, 137, 119); /* hsl(35, 11%, 61%) */

			/* Text */
			--very-dark-grayish-yellow-text: rgb(48, 46, 39); /* hsl(60, 10%, 19%) */
			--white-text: rgb(255, 255, 255); /* hsl(0, 0%, 100%) */
		}

		/* Theme 3 */
		:root {
			/* Backgrounds */
			--very-dark-violet-main-bg: rgb(24, 9, 41); /* hsl(268, 75%, 9%) */
			--dark-violet-toggle-keypad-screen-bg: rgb(33, 10, 51); /* hsl(268, 71%, 12%) */

			/* Keys */
			--dark-violet-key-bg: rgb(92, 24, 138); /* hsl(281, 89%, 26%) */
			--vivid-magenta-key-shadow: rgb(207, 31, 255); /* hsl(285, 91%, 52%) */
			--pure-cyan-key-toggle-bg: rgb(0, 255, 255); /* hsl(176, 100%, 44%) */
			--soft-cyan-key-shadow: rgb(141, 248, 248); /* hsl(177, 92%, 70%) */
			--very-dark-violet-key-bg: rgb(50, 22, 84); /* hsl(268, 47%, 21%) */
			--dark-magenta-key-shadow: rgb(104, 33, 121); /* hsl(290, 70%, 36%) */

			/* Text */
			--light-yellow-text: rgb(255, 255, 129); /* hsl(52, 100%, 62%) */
			--very-dark-blue-text: rgb(33, 38, 48); /* hsl(198, 20%, 13%) */
			--white-text: rgb(255, 255, 255); /* hsl(0, 0%, 100%) */
		}

		.dark {
			color-scheme: dark;
			--body-background: var(--very-dark-desaturated-blue);
			--body-text: var(--white-text);

			--screen-background: var(--dark-desaturated-blue-screen-bg);
			--keyboard-background: var(--dark-desaturated-blue-toggle-bg);

			--normal-key-background: var(--light-grayish-orange-key-bg);
			--normal-key-shadow: var(--grayish-orange-key-shadow);
			--normal-key-text: var(--very-dark-grayish-blue-text);

			--operative-key-background: var(--desaturated-dark-blue-key-bg);
			--operative-key-shadow: var(--desaturated-dark-blue-key-shadow);
			--operative-key-text: var(--white-text);

			--equals-key-background: var(--red-key-toggle-bg);
			--equals-key-shadow: var(--dark-red-key-shadow);
			--equals-key-text: var(--white-text);
		}

		.light {
			--body-background: var(--light-gray-main-bg);
			--body-text: var(--very-dark-grayish-yellow-text);

			--screen-background: var(--very-light-gray-screen-bg);
			--keyboard-background: var(--grayish-red-toggle-keypad-bg);

			--normal-key-background: var(--light-grayish-yellow-key-bg);
			--normal-key-shadow: var(--dark-grayish-orange-key-shadow);
			--normal-key-text: var(--very-dark-grayish-yellow-text);

			--operative-key-background: var(--dark-moderate-cyan-key-bg);
			--operative-key-shadow: var(--very-dark-cyan-key-shadow);
			--operative-key-text: var(--white-text);

			--equals-key-background: var(--orange-key-toggle-bg);
			--equals-key-shadow: var(--dark-orange-key-shadow);
			--equals-key-text: var(--white-text);
		}
	}

	.high-contrast {
		--body-background: var(--very-dark-violet-main-bg);
		--body-text: var(--light-yellow-text);

		--screen-background: var(--dark-violet-toggle-keypad-screen-bg);
		--keyboard-background: var(--dark-violet-toggle-keypad-screen-bg);

		--normal-key-background: var(--dark-violet-key-bg);
		--normal-key-shadow: var(--vivid-magenta-key-shadow);
		--normal-key-text: var(--light-yellow-text);

		--operative-key-background: var(--very-dark-violet-key-bg);
		--operative-key-shadow: var(--dark-magenta-key-shadow);
		--operative-key-text: var(--light-yellow-text);

		--equals-key-background: var(--pure-cyan-key-toggle-bg);
		--equals-key-shadow: var(--soft-cyan-key-shadow);
		--equals-key-text: var(--very-dark-blue-text);
	}
}

body {
	@apply w-full h-screen flex justify-center items-center font-spartan;
	background-color: var(--body-background);
	color: var(--body-text);
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 14px;
}

@layer components {
	.root {
		@apply mx-3 my-9 flex flex-col flex-1 max-w-[564px] max-h-[666px];
	}

	/* SCREEN */
	.screen {
		@apply max-w-full p-9 rounded-md flex justify-end;
		background-color: var(--screen-background);
	}
	.output {
		@apply text-5xl;
	}

	/* KEYBOARD */

	.keyboard {
		@apply grid grid-cols-4 p-8 gap-6 rounded-md;
		background-color: var(--keyboard-background);
		grid-template-rows: repeat(5, 64px);
	}
	.key {
		@apply w-full h-full flex flex-1 items-center justify-center text-3xl rounded-md;
	}

	.key--normal {
		background-color: var(--normal-key-background);
		color: var(--normal-key-text);
		border-bottom: 4px solid var(--normal-key-shadow);
	}

	.key--normal:hover {
		background-color: var(--normal-key-shadow);
	}

	.key--operative {
		background-color: var(--operative-key-background);
		color: var(--operative-key-text);
		border-bottom: 4px solid var(--operative-key-shadow);
	}
	.key--operative:hover {
		background-color: var(--operative-key-shadow);
	}

	.key--equals {
		background-color: var(--equals-key-background);
		color: var(--equals-key-text);
		border-bottom: 4px solid var(--equals-key-shadow);
	}

	.key--equals:hover {
		background-color: var(--equals-key-shadow);
	}

	.themeSelector {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 26px;
	}

	.radioContainer {
		background-color: var(--keyboard-background);
		padding: 2px;
	}

	.radioContainer input[type="radio"] {
		appearance: unset;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: var(--keyboard-background);
	}
	.radioContainer input[type="radio"] {
		appearance: unset;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: var(--keyboard-background);
		cursor: pointer;
	}
	.radioContainer input[type="radio"]:checked {
		background-color: var(--equals-key-background);
	}
}

@layer utilities {
}
